/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden m-0 touch-none;
  }

  /* body {
    @apply bg-red-600;
  } */
}
